[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
C = BR
ST = Paraiba
L = Campina Grande
O = Universidade Federal de Campina Grande
OU = TCC
CN = anomalous.dhsg.com

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
URI = spiffe://dhsg.com/anomalous
