{
  "alerts": [
    {{#ctx.newAlerts}}
    {
      "id": "{{id}}",
      "spiffe_id": "{{bucket_keys}}",
      "monitor_name": "{{ctx.monitor.name}}",
      "severity": {{ctx.trigger.severity}},
      "period_start": "{{ctx.periodStart}}",
      "period_end": "{{ctx.periodEnd}}",
      "state": "ACTIVE",
      "global_scope": false
    },
    {{/ctx.newAlerts}}
    {{#ctx.completedAlerts}}
    {
      "id": "{{id}}",
      "spiffe_id": "{{bucket_keys}}",
      "monitor_name": "{{ctx.monitor.name}}",
      "severity": {{ctx.trigger.severity}},
      "period_start": "{{ctx.periodStart}}",
      "period_end": "{{ctx.periodEnd}}",
      "state": "COMPLETED",
      "global_scope": false
    },
    {{/ctx.completedAlerts}}
    null
  ]
}
